# use of bolean in python

In [1]:
print(10==9)

False

In [2]:
print(10>9)

True

In [3]:
print(9>10)

False

In [4]:
a='b'
print(a=='b')

True

In [8]:
print(a!='b')

False

In [9]:
print(b=='a')

NameError: name 'b' is not defined

# how to create two sets

In [10]:
a=32,43,54,65,76,34,87,32,13,54
b=98,45,76,89,32,34,12,34,67,65

In [11]:
set(a)

{13, 32, 34, 43, 54, 65, 76, 87}

In [12]:
set(b)

{12, 32, 34, 45, 65, 67, 76, 89, 98}

In [13]:
a

(32, 43, 54, 65, 76, 34, 87, 32, 13, 54)

In [14]:
b

(98, 45, 76, 89, 32, 34, 12, 34, 67, 65)

# Assing values to the variables

In [18]:
a=2
print(a)
b=2.32
print(b)
c='a'
print(c)
d='true'
print(d)

2
2.32
a
true

In [19]:
import keyword

In [20]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [24]:
a,b,c=1,2,3
print(a,b,c)#we can assign multipule values to the multiple variables in a single line

1 2 3

# BLOCK INDENTATION

In [28]:
def my_function():
    a=2
    return(a)
print(my_function())

2

In [32]:
x=y=[1,2,3]
y=[3,4,5]
y

[3, 4, 5]

# how to find date and time

In [33]:
import datetime

In [39]:
now=datetime.datetime.now()
print("current date and time")
print(now)

current date and time
2020-08-12 11:16:38.737766

# tuple(immutable)

In [43]:
tuple = 1,2,"malli","data scientist"
tuple2 = (3,4,"sai","data scientist")
print(tuple[-2])
tuple2[2]

malli

'sai'

# finding the area of circle

In [51]:
from math import pi
r=float(input("input the radius of a circle is:"))
print("the area of circle with radius is:"+str(r)+" is:"+str(pi*r**2))

input the radius of a circle is:8
the area of circle with radius is:8.0 is:201.06192982974676

# printing the calender of the month

In [57]:
import calendar
y=int(input("input enter the year is:"))
m=int(input("input the month is:"))
print(calendar.month(y,m))

input enter the year is:2020
input the month is:8
    August 2020
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

# finding the difference between the dates

In [64]:
from datetime import date
f_date=date(2020,1,26)
l_date=date(2020,6,1)
diff=l_date-f_date
print(diff.days)

127

# finding the os is 64 or 32 bit operator

In [65]:
import struct
print(struct.calcsize("P"*8))

64

# how to take two inputs in a single line

In [70]:
print("input the x and y values is:")
x,y = map(int, input().split())
print("enter the values of x and y:")

input the x and y values is:
1 2
enter the values of x and y:

# sets

In [82]:
setx = set(['blue','green'])
sety = set(['green','yellow'])
res = setx^sety
print(res)

{'yellow', 'blue'}

# fibonacci series

In [90]:
def fibonacci(n):
    if n<0:
        print("incorrect number")
    elif n==1:
        return 0
    elif n==2:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
print(fibonacci(4))

2